

.buttonsN{
    width: 5em;
    height: 5em;

    text-align: center;
    background-color: #D3D3D3;

    visibility: hidden;

    border-style: solid;
    z-index: 999;

}
.buttons{
  width: 5em;
  height: 5em;

    text-align: center;

    border-style: solid;


}

.gameContainer{
  display: block;
  text-align: center;
  box-sizing: border-box;
}
.toFill{
  visibility: hidden;
    width: 50px;
}

#startButton{
  background-color: green;
}


#difficult{
  background-color: yellow;
}


#gamePanel{
  display: flex;
  box-sizing: border-box;
  height:10em;
  margin-bottom: 5em;
  height: auto;
}
#controlPanel{
  display: flex;
  width: 40%;
  box-sizing: border-box;
  z-index: 999;
  height: auto;
}

.col-md-1{
  margin:1em;
  box-sizing: border-box;
  width: 3em;
  padding-left: 0;
}
  .hiddens{
    display: none;
  }
    .hiddenm{
    display: none;
  }
#targetButton{
  margin: 2em 2em 0em 1em;
}
#timeButton{
  margin: 2em 2em 0em 5em;
}
#timeLabel{
  margin: 1em 2em 0em 5em;
}
#startButton{
  margin: 2em 1em 0em 2em;
}
@media only screen and (max-device-width: 480px)
{
  .hiddens{
    display: block;
  }
  #controlPanel{
    display: block;
  }

}
@media only screen and (max-device-width: 2000px)
{
  .hiddenm{
    display: block;
  }

}
